body{
    background-color:
}

.rishma-header{
  text-align: center;
    background-color: #003366
}
#rishma-about{
  background-color: #003366
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:pink;
  /*height: 100px;*/
}

.item2 {
  background-color:hotpink;
  /*height: 100px;*/
}

.item3 {
  background-color:magenta;
  /*height: 100px;*/
}
